
	  <div>
      <% if (user) { %>
        <h2> Below is the data sent by google</h2>
        <pre>
          <% if (user.google) {
            user.google
          } else { %>
            No user.google
          <% } %>
        </pre>

      <% } else { %>
        <a id='googleLink' href="/auth/google">Click Here to Login with Google</a>
      <% } %>
	  </div>
