<div class="jumbotron">
 <div class="container">
   <h1>Austin Wall Art</h1>
      <nav>
          <button id='artButton'>Art</button>
          <button id='aboutButton'>About</button>
          <button id='loginButton'>Login</button>
      </nav>
  </div>
</div>
