<div class="jumbotron">
 <div class="container">
   <h1 id='headerTitle'>Austin Street Art</h1>
      <h2 id='headerSub'>A site dedicated to the incredible street art of Austin</h2>
      <nav id='nav'>
          <button class='navButton' id='artButton'>Art</button>
          <button class='navButton' id='aboutButton'>About</button>
          <button class='navButton'
         id='loginButton'>Login</button>
      </nav>
  </div>
</div>
