<% include ./partials/boilerplate %>
    <h1>Art</h1>
    <div id="art1">
      <h2 id="art1Title">Band Together</h2>
      <img src="/images/bangTogether.jpg">
      <p id="art1address">address</p>
    </div>
    <div id="art2">
      <h2 id="art2Title">You're My Butter Half</h2>
      <img src="/images/butter.jpg">
      <p id="art2address">address</p>
    </div>
    <div id="art3">
      <h2 id="art3Title">Chicon Wall</h2>
      <img src="/images/chicon.jpg">
      <p id="art3address">address</p>
    </div>
    <div id="art4">
      <h2 id="art4Title">Til Death</h2>
      <img src="/images/tillDeath.jpg">
      <p id="art4address">address</p>
    </div>
<% include ./partials/footer %>
