<% include ./partials/boilerplate %>
    <h1 id='artTitle'>Art</h1>
    <div id="art1">
      <h2 id="art1Title">Band Together</h2>
      <button id='favorite'>Favorite</button>
      <button id='unfavorite'>Un-favorite</button>
      <img src="/images/bangTogether.jpg">
      <p id="art1address">E. 6th & Chicon</p>
    </div>
    <div id="art2">
      <h2 id="art2Title">You're My Butter Half</h2>
      <button id='favorite'>Favorite</button>
      <button id='unfavorite'>Un-favorite</button>
      <img src="/images/butter.jpg">
      <p id="art2address">2000 E MLK Jr Blvd</p>
    </div>
    <div id="art3">
      <h2 id="art3Title">Chicon Wall</h2>
      <button id='favorite'>Favorite</button>
      <button id='unfavorite'>Un-favorite</button>
      <img src="/images/chicon.jpg">
      <p id="art3address">E. 12th & Chicon</p>
    </div>
    <div id="art4">
      <h2 id="art4Title">Til Death</h2>
      <button id='favorite'>Favorite</button>
      <button id='unfavorite'>Un-favorite</button>
      <img src="/images/tillDeath.jpg">
      <p id="art4address">E. 7th & Waller</p>
    </div>
<% include ./partials/footer %>
