<% include ./partials/boilerplate %>
    <h1>Art</h1>
    <div id="art1">
      <h2 id="art1Title">title</h2>
      <img src="/images/bangTogether.jpg" alt="Band Together">
      <p id="art1address">address</p>
    </div>
    <div id="art2">
      <h2 id="art2Title">title</h2>
      <img src="" alt="">
      <p id="art2address">address</p>
    </div>
    <div id="art3">
      <h2 id="art3Title">title</h2>
      <img src="" alt="">
      <p id="art3address">address</p>
    </div>
    <div id="art4">
      <h2 id="art4Title">title</h2>
      <img src="" alt="">
      <p id="art4address">address</p>
    </div>
<% include ./partials/footer %>
