<% include ./partials/boilerplate %>
  <h1>index</h1>
  <div>
    <h1 id="aboutTitle">About</h1>
    <img src="" alt=""></img>
    <p>Austin Street Art is a site dedicated to the vast amount of incredible street art in Austin.</p>
    <a href="">About The Developer</a>
  </div>
<% include ./partials/footer %>
