<% include ./partials/boilerplate %>
      <img id='loginCollageLeft' src="/images/collage-left.jpg">
      <h1 id='loginTitle'>Login</h1>
      <p id='loginP'>Login so that you can favorite the art pieces that you love the most!</p>
      <% include ./partials/google %>
      <img id='loginCollageRight' src="/images/collage-right.jpg">
<% include ./partials/footer %>
