<% include ./partials/boilerplate %>
    <h1 id='loginTitle'>Login</h1>
    <p id='loginP'>Login so that you can favorite the art pieces that you love the most!</p>
      <img src="" alt="">
      <% include ./partials/google %>
      <img src="" alt="">
<% include ./partials/footer %>
