<% include ./partials/boilerplate %>
    <a href="/login">Logout</a>
    <h1 id='profileTitle'>Profile</h1>
    <section id='username'>Username :</section>
    <section id='email'>Email :</section>
    <button id='editButton'>Edit</button>
    <h2 id='favoritesTitle'>Favorites</h2>
    <!-- unfavorite button -->
    <!-- favorites list -->
    <section id='favorite-form' class="container">
         <div class="row">
         <div class="col-md-10 col-md-offset-1">
            <form class="form-horizontal">
             <fieldset>

               <!-- Form Name -->
               <legend>Add New favorite</legend>
               <div>
                <ul>
                  <li>Band Together<button class='addFavorite'>Add</button></li>
                  <li>You're My Butter Half<button class='addFavorite'>Add</button></li>
                  <li>Chicon Wall<button class='addFavorite'>Add</button></li>
                  <li>Til Death<button class='addFavorite'>Add</button></li>
                </ul>
              </div>

               <!-- Button -->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="singlebutton">Save favorite</label>
                 <div class="col-md-4">
                   <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                 </div>
               </div>
             </fieldset>
           </form>
         </div>
         </div>
       </section>

    <div id='favorites'>
    </div>
    <!-- <button class='btn btn-info edit-favorite'>Edit</button>
    <button class='btn btn-success put-favorite default-hidden'>Save Changes</button> -->
<% include ./partials/footer %>
