<% include ./partials/boilerplate %>
    <h1>Profile</h1>
    <button>Edit</button>
    <h2>Favorites</h2>
    <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-star-empty"></span> Default text here</a>
    <ul>
    </ul>
<% include ./partials/footer %>
