<% include ./partials/boilerplate %>
    <a href="/login">Logout</a>
    <h1 id='profileTitle'>Profile</h1>
    <section id='username'>Username :</section>
    <section id='email'>Email :</section>
    <button id='editButton'>Edit</button>
    <h2 id='favoritesTitle'>Favorites</h2>
    <!-- unfavorite button -->
    <!-- favorites list -->
    <div id='favorites'>
    </div>
<% include ./partials/footer %>
