<% include ./partials/boilerplate %>
    <h1>Profile</h1>
    <button>Edit</button>
    <h2>Favorites</h2>
    <!-- unfavorite button -->
    <!-- favorites list -->
    <div id='favorites'>
    </div>
<% include ./partials/footer %>
