body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Amaranth', sans-serif;
}

a {
  color: #00B7FF;
}

img {
  width: 300px;
  height: 300px;
}

.jumbotron {
  background-color: #5bbbd8;
  text-align: center;
  width: 100%;
  height: 200px;
  position: relative;
  bottom: 30px;
  border-radius: 20px;

}

#headerSub {
  font-size: 30px;
  font-style: italic;
  position: relative;
  bottom: 40px;
}

#aboutCollage {
  width: 70%;
  height: 400px;
}


#nav {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 20px;
}

.navButton {
  border-radius: 50px;
  font-size: 30px;
  width: 150px;
  height: 60px;
  border-width: 5px;
  border-color: black;
  text-align: center;
}

.navButton:hover {
  background-color: #a289ed;
}

#headerTitle {
  font-size: 80px;
  position: relative;
  bottom: 40px;

}
